{% include 'layouts/navigation.html' %}
<!-- MAIN PANEL -->
<div id="main" role="main">
	<!-- RIBBON -->
	<div id="ribbon">
		<span class="ribbon-button-alignment"> <span id="refresh"
			class="btn btn-ribbon" data-title="refresh" rel="tooltip"
			data-placement="bottom"
			data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings."
			data-html="true"><i class="fa fa-refresh"></i></span>
		</span>
		<!-- breadcrumb -->
		<ol class="breadcrumb">
			<li>{% if _parameters.0 != '' %} <a
				href="/module/quality_management"><span>Kontrola jakości</span></a>
				{% elseif _parameters.0 == '' %} <span>Kontrola jakości</span> {%
				endif %}
			</li>
			<li>{% if _parameters.0 == 'add' %}
			<li class="active"><span>Dodaj</span></li> {% elseif _parameters.0 ==
			'review' %}
			<li class="active"><span>Przegląd</span></li> {% elseif _parameters.0
			== 'view' %}
			<li class="active"><span>Szczegóły badania <strong>{{
						_table.quality_management.view.products_name }}</strong></span></li> {% endif %}
			</li>
		</ol>
		<!-- end breadcrumb -->
		<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->
	</div>
	<!-- END RIBBON -->
	<!-- MAIN CONTENT -->
	<div id="content">
		{% if _parameters.0 == '' %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Kontrola jakości daje możliwość
					tworzenia, przeglądania i edycji arkuszy kontrolnych.</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<h2>Utwórz</h2>
						<h5>Tworzenie nowego arkusza.</h5>
						<h5>Tutaj możesz utworzyć nowy arkusz kontroli pomiaru.</h5>
						<div>
							<a class="btn btn-primary btn-block"
								href="/module/quality_management/add" role="button">Dalej
								&raquo;</a>
						</div>
					</div>
					<div class="col-md-6">
						<h2>Przegląd</h2>
						<h5>Ta opcja pozwala na przegląd dotychczas utworzonych
							arkuszy.</h5>
						<h5>Umożliwia również ich edycję, wydruk i pobranie.</h5>
						<div>
							<a class="btn btn-default btn-block"
								href="/module/quality_management/review" role="button">Dalej
								&raquo;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% elseif _parameters.0 == 'view' %} {% set view =
		_table.quality_management.view %}
		<div class="panel panel-default">
			<div class="panel-heading">
				Metryczka produktu
				<div class="pull-right">
					<a href="javascript:window.print()" type="button"
						class="btn btn-default"> <span
						class="glyphicon glyphicon-print"></span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.
					Maecenas non elit faucibus, malesuada nulla ac, pharetra lacus. Sed
					sollicitudin tristique velit porta imperdiet. Curabitur sed quam
					vestibulum, suscipit leo aliquam, viverra arcu. Vestibulum
					malesuada sapien ac velit malesuada, at interdum dui vulputate.
					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
					posuere cubilia Curae; Vestibulum interdum rhoncus sapien non
					vulputate. Nullam faucibus sapien in malesuada vehicula. Curabitur
					eu sem ut tellus tempus viverra. Vivamus ipsum arcu, imperdiet in
					viverra dictum, porta a est. Vestibulum ante ipsum primis in
					faucibus orci luctus et ultrices posuere cubilia Curae; Donec
					ultrices, orci vitae interdum varius, lorem massa fermentum eros,
					vel mattis ante libero nec erat. Morbi quis imperdiet est. Morbi
					vel nulla leo.</p>
			</div>
			<ul class="list-group">
				<div class="row">
					<div class="col-md-6">
						<table class="table table-responsive">
							<tr>
								<th rowspan="3">Z.P.U.H. Rolmech</th>
								<th>Nr detalu</th>
								<td>{{ view.products_name }}</td>
							</tr>
							<tr>
								<th>Nr zlecenia</th>
								<td>{{ view.orders_number }}</td>
							</tr>
							<tr>
								<th>Data pomiaru</th>
								<td>2000-01-01</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6">
						<table class="table table-responsive">
							<tr>
								<th>Kontroler</th>
								<td>Lorem ipsum</td>
								<th>Pakowacz</th>
								<td>Inny Lorem ipsum</td>
							</tr>
							<tr>
								<th>Szt. w zleceniu</th>
								<td>12</td>
								<th>Data wysyłki</th>
								<td>{{ view.orders_date|slice(0, 10) }}</td>
							</tr>
							<tr>
								<th>Szt. w palecie</th>
								<td>12</td>
								<th>nr palety</th>
								<td>{{ view.packages_id_packages }}</td>
							</tr>
						</table>
					</div>
				</div>
				<li class="list-group-item list-group-item-header"><span>Karta
						pomiaru</span></li>
			</ul>
			<table class="table table-bordered table-condensed">
				<tbody>
					<tr>
						<th>Badane sztuki</th>
						<th>{{ view.sample_size }}</th>
						<th colspan="{{ view.sample_size }}">Numer próbki</th>
					</tr>
					<tr>
						<th>Badany wym.</th>
						<th>Toler.</th> {% for foo in 1..view.sample_size %}
						<th>{{ loop.index }}</th> {% endfor %}
					</tr>
					<tr>
						<td rowspan="2">20,5</td>
						<td>+0,5</td> {% for foo in 1..view.sample_size %}
						<td rowspan="2"></td> {% endfor %}
					</tr>
					<tr>
						<td>0</td>
					</tr>
					<tr>
						<td rowspan="2">20,5</td>
						<td>+0,5</td> {% for foo in 1..view.sample_size %}
						<td rowspan="2"></td> {% endfor %}
					</tr>
					<tr>
						<td>0</td>
					</tr>
					<tr>
						<td rowspan="2">20,5</td>
						<td>+0,5</td> {% for foo in 1..view.sample_size %}
						<td rowspan="2"></td> {% endfor %}
					</tr>
					<tr>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>
		{% elseif _parameters.0 == 'review' %}
		<div class="panel panel-default">
			<div class="panel-heading">
				Przegląd arkuszów kontrolnych
				<div class="pull-right">
					<a href="javascript:window.print()" type="button"
						class="btn btn-default"> <span
						class="glyphicon glyphicon-print"></span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<p>Poniższa lista obejmuje wszystkie istniejące arkusze
					kontrolne.</p>
				<p>
					Jeśli istnieje taka potrzeba, możesz <a
						href="/module/quality_management/add">dodać nowy arkusz</a>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<th>L.p.</th>
						<th>Nazwa</th>
						<th>Nr produktu</th>
						<th>Nr pomiaru</th>
						<th>Nr skrzynki</th>
						<th>sample size(?)</th>
						<th>zamówienie</th>
						<th>data</th>
						<th>inna data</th>
						<th>zaznacz</th>
					</tr>
					{% for row in _table.quality_management.list %}
					<tbody>
						<tr>
							<td>{{ loop.index }}</td>
							<td><a
								href="/module/quality_management/view/{{ row.id_control_measurements }}">
									{{ row.id_control_measurements }} </a></td>
							<td><a
								href="/module/product_technology/product/view/{{ row.products_name }}">{{
									row.products_name }}</a></td>
							<td>{{ row.products_id_products }}</td>
							<td>{{
								row.type_of_control_measurements_id_type_of_control_measurements
								}}</td>
							<td>{{ row.packages_id_packages }}</td>
							<td>{{ row.sample_size }}</td>
							<td>{{ row.date_start }}</td>
							<td>{{ row.date_end }}</td>
							<td>
								<div class="pull-right">
									<input type="checkbox">
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item">
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li> {% for pager in
					_table.quality_management.pager %}
					<li><a
						href="/module/quality_management/review/{{ pager.page }}/{{ pager.limit }}">{{
							pager.page }}</a></li> {% endfor %}
					<li><a href="#">&raquo;</a></li>
				</ul>
			</li>
		</ul>
		{% elseif _parameters.0 == 'add' %}
		<div class="container-liquid">
			<ul class="list-inline row">
				<li class="col-md-2 col-md-offset-1"><a
					class="btn btn-info col-md-9 disabled">Informacja</a> <span
					class="btn disabled col-md-3 glyphicon glyphicon-chevron-right"></span></li>
				<li class="col-md-2"><a {if $parameters['1'] ===
					'step1' } class="btn btn-primary col-md-9"
					{elseif $parameters['1'] === 'step2' or $parameters['1'] ===
					'step3' or $parameters['1'] === 'step3' or $parameters['1'] ===
					'summary'} class="btn btn-success col-md-9"
					{/if}
			href="/module/quality_management/add/step1">Wstęp</a> <span
					class="btn disabled col-md-3 glyphicon glyphicon-chevron-right"></span></li>
				<li class="col-md-2"><a {if $parameters['1'] ===
					'step2' } class="btn btn-primary col-md-9"
					{elseif $parameters['1'] ===
					'step1' } class="btn btn-default col-md-9"
					{elseif $parameters['1'] === 'step3' or $parameters['1'] ===
					'summary'} class="btn btn-success col-md-9"
					{/if}
			href="/module/quality_management/add/step2">Wymiary</a> <span
					class="btn disabled col-md-3 glyphicon glyphicon-chevron-right"></span></li>
				<li class="col-md-2"><a {if $parameters['1'] ===
					'step3' } class="btn btn-primary col-md-9"
					{elseif $parameters['1'] === 'step1' or $parameters['1'] ===
					'step2'} class="btn btn-default col-md-9"
					{elseif $parameters['1'] ===
					'summary'} class="btn btn-success col-md-9"
					{/if}
			href="/module/quality_management/add/step3">Geometria</a>
					<span
					class="btn disabled col-md-3 glyphicon glyphicon-chevron-right"></span></li>
				<li class="col-md-2"><a {if $parameters['1'] ===
					'summary' } class="btn btn-primary col-md-9"
					{elseif $parameters['1'] === 'step1' or $parameters['1'] ===
					'step2' or $parameters['1'] ===
					'step3'} class="btn btn-default col-md-9"
					{/if}
			href="/module/quality_management/add/summary">Podsumowanie</a></li>
			</ul>
		</div>
		{% if _parameters.1 is null %}
		<div class="container-liquid">
			<div class="row">
				<div class=" col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">Przygotowanie informacji:</div>
						<div class="panel-body">
							<p>Proces dodawania badania kontrolnego wymaga posiadania
								określonych informacji:</p>
							<ul>
								<li>Przy założeniu przechowywana w bazie danych informacji
									o magazynie (bieżących):</li>
								<ol>
									<li>nazwę produktu / detalu</li>
									<li>numeru zlecenia</li>
								</ol>
								<li>Przy założeniu nie prowadzenia magazynu oraz nie
									posiadania informacji o detalach, zleceniach itp.</li>
								<ol>
									<li>nazwę produktu / detalu</li>
									<li>numeru zlecenia</li>
									<li>ilość sztuk w zleceniu</li>
									<li>ilość sztuk w skrzyni</li>
								</ol>
							</ul>
							<p>Niektóre informacje można dodać korzystając z możliwości
								edytowania istniejących arkuszy. :D</p>
						</div>
					</div>
					<div class="alert alert-info">
						W razie wątpliwości, tu jest link do <a
							href="/content/about_modules" class="alert-link">informacji o
							modułach</a>, takich jak kontrola jakości.
					</div>
				</div>
				<div class=" col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">Przygotowanie narzędzi
							pomiarowych:</div>
						<div class="panel-body">
							<p>Przed rozpoczęciem wykonywania kontroli jakości produktu,
								należy przygotować niezbędne narzędzia i przyrządy pomiarowe.</p>
							<img
								src="http://www.stalco.pl/produkt/suwmiarka_elektroniczna_s11215.jpg"
								alt="..." class="img-rounded img-responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<a class="btn btn-primary btn-block"
					href="/module/quality_management/add/step1" data-toggle="tooltip"
					data-placement="top" title="Tooltip on top">Wykonaj nowe
					badanie</a>
			</div>
		</div>
		{% endif %} {elseif $parameters['1'] eq 'step1' }
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Utwórz nowy formularz</strong>
			</div>
			<div class="panel-body">
				<p>W poniższych polach należy podać podstawowe informacje o
					produkcie, którego pomiary będą przeprowadzane.</p>
			</div>
			<ul class="list-group">
				<form action="/module/quality_management/add/_step1" method="post"
					class="form-horizontal" role="form">
					<li class="list-group-item"><p></p></li>
					<li class="list-group-item">
						<div
							class="form-group {if in_array( 'name', $table['form_err']) } has-error has-feedback{/if}">
							<label class="control-label col-sm-3" for="inputSuccess3">Nazwa
								/ numer</label>
							<div class="col-sm-9">
								<input class="form-control" data-toggle="tooltip"
									data-placement="left" title="Wpisz nazwe produktu" name="name"
									type="text"
									placeholder="Wpisz nazwę detalu lub numer pod który występuje"
									{if $table['form_name'] }value="{$table['form_name']}"
									{/if}
							required>
							</div>
						</div>
						<div
							class="form-group {if in_array( 'amount', $table['form_err']) }  has-error has-feedback{/if}">
							<label class="control-label col-sm-3" for="inputSuccess3">Ilość
								sztuk w skrzyni</label>
							<div class="col-sm-9">
								<input class="form-control" data-toggle="tooltip"
									data-placement="left" title="Wpisz ilość elementów w partii"
									name="amount" type="text"
									placeholder="Wpisz ilość detali w partii"
									{if $table['form_amount'] }value="{$table['form_amount']}"
									{/if}
							required>
							</div>
						</div>
						<div
							class="form-group {if in_array( 'quan', $table['form_err']) } has-error has-feedback{/if}">
							<label class="control-label col-sm-3" for="inputSuccess3">Ilość
								sztuk w zamównieniu</label>
							<div class="col-sm-9">
								<input class="form-control " data-toggle="tooltip"
									data-placement="left" title="Ile sztuk zamówiono" name="quan"
									type="text" placeholder="Ilość w zamówieniu"
									{if $table['form_quan'] }value="{$table['form_quan']}"
									{/if}
							required>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="alert alert-warning">
							<p>
								<strong>UWAGA!</strong> Wartości z pól poniżej nie są
								przekazywane dalej
							</p>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="inputSuccess3">Dodatkowe
								informacje 1</label>
							<div class="col-sm-9">
								<input class="form-control" data-toggle="tooltip"
									data-placement="left" title="" name="addt_01" type="text"
									placeholder="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="inputSuccess3">Dodatkowe
								informacje 2</label>
							<div class="col-sm-9">
								<input class="form-control" data-toggle="tooltip"
									data-placement="left" title="" name="addt_02" type="text"
									placeholder="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="inputSuccess3">Dodatkowe
								informacje 3, 4 i 5</label>
							<div class="col-sm-3">
								<input class="form-control" data-toggle="tooltip"
									data-placement="left" title="" name="addt_03" type="text"
									placeholder="">
							</div>
							<div class="col-sm-3">
								<input class="form-control" data-toggle="tooltip"
									data-placement="left" title="" name="addt_04" type="text"
									placeholder="">
							</div>
							<div class="col-sm-3">
								<input class="form-control" data-toggle="tooltip"
									data-placement="left" title="" name="addt_05" type="text"
									placeholder="">
							</div>
						</div>
					</li>
					<li class="list-group-item"><a
						href="/module/quality_management/add/step1"
						class="btn btn-default" role="button">Wyczyść formularz</a>
						<button class="btn btn-primary pull-right" type="submit"
							value="Przejdź do kolejnego kroku">Przejdź do kolejnego
							kroku</button></li>
				</form>
			</ul>
		</div>
		{elseif $parameters['1'] eq 'step2' }
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Kontrola wymiarów</strong>
			</div>
			<div class="panel-body">
				<p></p>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<th>Wymiary</th>
						<th>Tolerancja</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>5</th>
						<th>6</th>
					</tr>
					<tbody>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<a class="btn btn-primary btn btn-block"
			href="/module/quality_management/add/step3"> Block level button</a>
		{elseif $parameters['1'] eq 'step3' }
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Kontrola geometrii</strong>
			</div>
			<div class="panel-body"></div>
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<th>Wymiary</th>
						<th>Tolerancja</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>5</th>
						<th>6</th>
					</tr>
					<tbody>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
						<tr>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Wymiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Tolerancja"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
							<td><input type="email" class="form-control"
								id="inputEmail3" placeholder="Pomiar"
								style="border: 0; box-shadow: none;"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<a class="btn btn-primary btn btn-block"
			href="/module/quality_management/add/summary"> Block level button</a>
		{elseif $parameters['1'] eq 'summary' }
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Podsumowanie kontroli jakości</strong>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class=" col-md-3">Z.P.U.H. Rolmech</div>
					<div class=" col-md-3">652953</div>
					<div class=" col-md-3">
						<a href="#">2000-01-01 12:00:00</a>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<th>Wymiary</th>
						<th>Tolerancja</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
					</tr>
					<tr>
						<td>Row:1 Cell:1</td>
						<td>Row:1 Cell:2</td>
						<td>Row:1 Cell:3</td>
						<td>Row:1 Cell:4</td>
						<td>Row:1 Cell:5</td>
						<td>Row:1 Cell:6</td>
						<td>Row:1 Cell:7</td>
					</tr>
					<tr>
						<td>Row:2 Cell:1</td>
						<td>Row:2 Cell:2</td>
						<td>Row:2 Cell:3</td>
						<td>Row:2 Cell:4</td>
						<td>Row:2 Cell:5</td>
						<td>Row:2 Cell:6</td>
						<td>Row:2 Cell:7</td>
					</tr>
					<tr>
						<td>Row:3 Cell:1</td>
						<td>Row:3 Cell:2</td>
						<td>Row:3 Cell:3</td>
						<td>Row:3 Cell:4</td>
						<td>Row:3 Cell:5</td>
						<td>Row:3 Cell:6</td>
						<td>Row:3 Cell:7</td>
					</tr>
					<tr>
						<td>Row:4 Cell:1</td>
						<td>Row:4 Cell:2</td>
						<td>Row:4 Cell:3</td>
						<td>Row:4 Cell:4</td>
						<td>Row:4 Cell:5</td>
						<td>Row:4 Cell:6</td>
						<td>Row:4 Cell:7</td>
					</tr>
					<tr>
						<td>Row:5 Cell:1</td>
						<td>Row:5 Cell:2</td>
						<td>Row:5 Cell:3</td>
						<td>Row:5 Cell:4</td>
						<td>Row:5 Cell:5</td>
						<td>Row:5 Cell:6</td>
						<td>Row:5 Cell:7</td>
					</tr>
					<tr>
						<td>Row:6 Cell:1</td>
						<td>Row:6 Cell:2</td>
						<td>Row:6 Cell:3</td>
						<td>Row:6 Cell:4</td>
						<td>Row:6 Cell:5</td>
						<td>Row:6 Cell:6</td>
						<td>Row:6 Cell:7</td>
					</tr>
				</table>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<label class="control-label col-sm-3" for="inputSuccess3">Uwagi
							i zakończenie</label>
						<div class="col-sm-3">
							<input class="form-control" data-toggle="tooltip"
								data-placement="left" title="" name="addt_01" type="text"
								placeholder="">
						</div>
						<div class="col-sm-3">
							<a class="btn btn-primary btn btn-block"
								href="javascript:window.print()">DRUKUJ </a>
						</div>
						<div class="col-sm-2">
							<a class="btn btn-primary btn btn-block"
								href="/module/quality_management">NIE KOŃCZ</a>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<label class="control-label col-sm-3" for="inputSuccess3">Kontroler</label>
						<div class="col-sm-3">
							<input class="form-control" data-toggle="tooltip"
								data-placement="left" title="" name="addt_01" type="text"
								placeholder="">
						</div>
						<div class="col-sm-5">
							<a class="btn btn-primary btn btn-block"
								href="/module/quality_management">ZAKOŃCZ</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		{/if} {% endif %}