<link href="/public/css/signin.css" rel="stylesheet">
<link href="/public/css/sticky-footer-navbar.css" rel="stylesheet">
<div class="container-fluid">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<p class="navbar-text navbar-right">
				<a href="/users/index" type="button"
					class="navbar-link btn btn-default">Odrzuć zmiany i wróć do
					ekranu logowania</a>
			</p>
		</div>
	</nav>
</div>
<div class="container">
	<div class="row">
		<div class="container col-md-12">
			<h2>Tutaj można zgłosić potrzebę posiadania konta w systemie
				jego administratorowi.</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Imię</label> <input type="email"
							class="form-control" id="exampleInputEmail1" placeholder="Imię">
						<div class="form-group"></div>
						<label for="exampleInputEmail1">Nazwisko</label> <input
							type="email" class="form-control" id="exampleInputEmail1"
							placeholder="Nazwisko">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label> <input
							type="email" class="form-control" id="exampleInputEmail1"
							placeholder="Enter email">
					</div>
					<h4>Typ konta</h4>
					<select class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
				</div>
				<div class="col-md-6">
					<form role="form">
						<div class="form-group">
							<label for="exampleInputEmail1">Nazwa użytkownika</label> <input
								type="email" class="form-control " id="exampleInputEmail1"
								placeholder="Nazwa użytkownika">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label> <input
								type="password" class="form-control" id="exampleInputPassword1"
								placeholder="Password">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label> <input
								type="password" class="form-control" id="exampleInputPassword1"
								placeholder="Password">
						</div>
						<div class="form-group">
							<p class="help-block">Example block-level help text here.</p>
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="6"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<p class="text-muted">Place sticky footer content here.</p>
	</div>
</div>