<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1 class="page-title txt-color-blueDark">
			<!-- PAGE HEADER -->
			<i class="icon-fixed-width icon-home"></i> Email Template <span>>
				Responsive Email templates! </span>
		</h1>
	</div>
</div>
<!-- row -->
<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<img src="img/demo/basic.png" alt="Basic Email Template"
			style="width: 100%; height: auto;"> <br> <br> <a
			href="goodies/email-templates/basic.html" target="_blank"
			class="btn btn-primary btn-block">Basic Email Template</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<img src="img/demo/sidebar.png" alt="Sidebar Email Template"
			style="width: 100%; height: auto;"> <br> <br> <a
			href="goodies/email-templates/sidebar.html" target="_blank"
			class="btn btn-primary btn-block">Sidebar Email Template</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<img src="img/demo/hero.png" alt="Hero Email Template"
			style="width: 100%; height: auto;"> <br> <br> <a
			href="goodies/email-templates/hero.html" target="_blank"
			class="btn btn-primary btn-block">Hero Email Template</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<img src="img/demo/sidebarhero.png" alt="Sidebar with Hero"
			style="width: 100%; height: auto;"> <br> <br> <a
			href="goodies/email-templates/sidebar-hero.html" target="_blank"
			class="btn btn-primary btn-block">Sidebar with Hero</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<img src="img/demo/newsletter.png" alt="Newsletter Email Template"
			style="width: 100%; height: auto;"> <br> <br> <a
			href="goodies/email-templates/newsletter.html" target="_blank"
			class="btn btn-primary btn-block">Newsletter Template</a>
	</div>
</div>
<!-- end row -->
<script type="text/javascript">
	
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();
	
	// PAGE RELATED SCRIPTS
	
</script>
